<!DOCTYPE html>
<body>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Error 500 - Internal Server Error</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-500">
				<h1>500 </h1>
			</div>
			<p>Sorry,an internal server error occurred.</p>
			<a class="link1 special-link" href="/">home page</a>
		</div>
	</div>

</body>

</html>
